@import "../../global.scss";


li {
    font-size: 15px;
    margin-right: 70px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;
    
    &.active{
        background-color: $maincolor;
        color: $seconcolor;
    }
}