@import "../../global.scss";

.intro {
    color: $seconcolor;
    background-color: $maincolor;
    display: flex;

    @include mobile{
        flex-direction: column;
        align-items: center;
    }

    .left {
        flex: 0.2;

    }
    .right {
        
        padding-top: 100px;
        flex: 0.8;

        @include mobile{
            padding-left: 0;
            align-items: center;
            width: 350px;
        }

        h1 {
            font-size: 50px;
            margin: 10px 0;
            @include mobile{
                font-size: 35px;
            }
        }

        h2 {
            font-size: 35px;
            margin: 10px 0;
            @include mobile{
                font-size: 20px;
            }
        }

        h3 {
            margin: 10px 0;
            font-size: 25px;
            @include mobile{
                font-size: 18px;
            }
            
        }
        .about {
            width: 505px;
            @include mobile{
                width: 352px;
            }
        }

        p {
            padding: 50px 10px;
            font-size: 18px;
            @include mobile{
                font-size: 16px;
                padding: 25px 0;
            }
        }
    }

}